<<<<<<< HEAD


<!-- Tabs -->
<div class="profile-header-wrapper">
  <div class="container profile-header-container">
    <div class="profile-header-infos">
      <h1>Création de votre compte</h1>
=======
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <h1 class="title">Edit user</h1>
      <%= simple_form_for(@user) do |f| %>
      <%= f.error_notification %>


      <% if @user.photo %>
        <%= cl_image_tag @user.photo.path, width: 200, height: 200, crop: :fill %>
      <% else %>
        <%= image_tag 'http://placehold.it/400x300', class: "avatar-square-huge"%>
      <% end %>
      <%= f.input :photo, as: :attachinary %>
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :sex, collection: User::SEX %>
      <%= f.input :address %>
      <%= f.input :city %>
      <%= f.input :zipcode %>
      <%= f.input :phone %>
      <%= f.input :specialty, collection: User::SPECIALTY %>
      <%= f.input :min_nb_consult %>
      <%= f.input :duration_consult %>
      <%= f.input :cardnumber %>
      <%= f.input :photo_id, as: :attachinary, label: "Carte d'identité" %>
      <%= f.input :photo_prof_doc, as: :attachinary, label: "Carte professionnelle" %>
      <%= f.submit "Enregistrer", class: 'secondary-btn' %>
>>>>>>> 6b2c0bd976e2e919ff0d94ede49084f50f4e2ac5
    </div>
    <div class="tabs">
      <a class="tab active" data-target="#infos_perso">
        <h3>1. Informations personnelles</h3>
      </a>
      <a class="tab" data-target="#infos_pro">
        <h3>2. Informations professionnelles</h3>
      </a>
      <a class="tab" data-target="#configurations">
        <h3>3. Configurations du compte</h3>
      </a>
    </div>
  </div>
</div>
<!-- end tabs -->
<div class="container">
  <!-- tab 1. infos perso -->
  <div class="tab-content tab-infos_perso" id="infos_perso">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="title"></h1>
        <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>
        <% if @user.photo %>
          <%= cl_image_tag @user.photo.path, width: 200, height: 200, crop: :fill %>
        <% else %>
          <%= image_tag 'http://placehold.it/400x300', class: "avatar-square-huge"%>
        <% end %>
        <%= f.input :photo, as: :attachinary %>
          <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Monsieur
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
            Madame
          </label>
        </div>
        <p type="Nom:"><%= f.input :first_name, label: false, placeholder: 'Paillard', input_html: {class: "simple_form_field"} %></p>
        <p type="Prénom:"><%= f.input :last_name, label: false, placeholder: 'Boris', input_html: {class: "simple_form_field"} %></p>
        <p type="Téléphone:"><%= f.input :phone, label: false, placeholder: '06 .. .. .. ..', input_html: {class: "simple_form_field"} %></p>
        <p type="Email:"><%= f.input :email, label: false, placeholder: 'lewagon@gmail.com', input_html: {class: "simple_form_field"} %></p>
        <p type="Adresse:"><%= f.input :address, label: false, placeholder: '16 villa Gaudelet', input_html: {class: "simple_form_field"} %></p>
        <p type="City:"><%= f.input :city, label: false, placeholder: 'Paris', input_html: {class: "simple_form_field"} %></p>
        <p type="Zipcode:"><%= f.input :zipcode, label: false, placeholder: '75011', input_html: {class: "simple_form_field"} %></p>
        <%= f.submit "Enregistrer", class: 'secondary-btn' %>
      </div>
      <% end %>
    </div>
  </div>

  <!-- Fin tab.1 -->

  <!-- tab 2. infos pro -->
  <div class="tab-content tab-infos_pro hidden" id="infos_pro">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="title"></h1>
        <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>
        <p type="Numéro RPPS:"><%= f.input :cardnumber, label: false, input_html: {class: "simple_form_field"} %></p>
        <div>
        <p type="Spécialitée:"><%= f.input :specialty, label: false, input_html: {class: "simple_form_field"} %></p>
        <p type="Spécialitée:"><%= f.input :specialty, label: false, collection: User::SPECIALTY, input_html: {class: "simple_form_field"} %></p>
        <p type="Carte professionnelle"<%= f.input :photo_prof_doc, as: :attachinary, label: "Carte professionnelle" %></p>
        <p style="font-weight: bold"> Votre carte professionnelle
        <%= image_tag 'http://placehold.it/400x300', class: "avatar-square-huge"%>
        </p>
        <%= f.submit "Enregistrer", class: 'secondary-btn' %>
      </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
  <!-- Fin tab.2 -->


  <!-- tab 3. configuration -->
  <div class="tab-content tab-configurations hidden" id="configurations">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="title"></h1>
        <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>
        <p type="Adresse d'exercice:"><%= f.input :fav_address, label: false, input_html: {class: "simple_form_field"} %></p>
        <p type="Ville:"><%= f.input :fav_city, label: false, input_html: {class: "simple_form_field"} %></p>
        <p type="Code postal:"><%= f.input :fav_zipcode, label: false, input_html: {class: "simple_form_field"} %></p>
        <p type="Distance d'éloignement:"><%= f.input :fav_distance, label: false, input_html: {class: "simple_form_field"} %></p>
        <p type="Nombre minimun de consultations par jour:"><%= f.input :min_nb_consult, label: false, input_html: {class: "simple_form_field"} %></p>
        <p type="Durée d'une consultation:"><%= f.input :duration_consult, label: false, input_html: {class: "simple_form_field"} %></p>
        <%= f.submit "Enregistrer", class: 'secondary-btn' %>
      </div>
      <% end %>
    </div>
  </div>
  <!-- Fin tab.3 -->
<!-- </div> -->

<!-- **************************** -->
<!-- Javascript -->
<% content_for(:after_js) do %>
  <script>
    $(function(){

    $(".tab").on("click", function(e){
      // Change active tab
      $(".tab").removeClass('active');
      $(this).addClass('active');
      // Hide all tab-content (use class="hidden")
      $(".tab-content").addClass('hidden');
      // Show target tab-content (use class="hidden")
      $($(this).data('target')).removeClass('hidden');
    });
    $(".simple_form_field").removeClass("form-control")

  });
  </script>
<% end %>



