
<!-- Tabs -->

<div class="profile">

  <div class="profile-sidebar">
    <h1 class=text-center>
      <% if current_user.photo.nil? %>
        <% if current_user.sex == "Madame" %>
          <%= image_tag "girl.png", class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% elsif current_user.sex == "Monsieur" %>
          <%= image_tag "boy.png", class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% end %>
      <% else %>
        <%= cl_image_tag current_user.photo.path, width: 80, height: 80, crop: :thumb, gravity: :face, class: "dropdown-toggle img-circle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <% end %>
      <div><%= current_user.first_name %> <%= current_user.last_name %></div>
    </h1>
    <a class="tab active" data-target="#infos_perso" id="first">
      <h3><span>1</span> <div>Votre identité</div></h3>
    </a>
    <a class="tab" data-target="#infos_contact" id="next">
      <h3><span>2</span> <div>Vos coordonnées</div></h3>
    </a>
    <a class="tab" data-target="#infos_pro" id="next">
      <h3><span>3</span> <div>Votre spécialité</div></h3>
    </a>
    <a class="tab" data-target="#configurations" id="third">
      <h3><span>4</span> <div>Paramètres de tournées</div></h3>
    </a>
  </div>

  <!-- end tabs -->
  <div class="profile-form">
    <!-- tab 1. infos perso -->
    <%= simple_form_for(@user) do |f| %>
      <div class="tab-content tab-infos_perso" id="infos_perso">
        <!-- <div class="col-xs-12"> -->
        <h2 class="text-center">Votre identité</h2>
        <%= f.error_notification %>

        <div class="container-fluid">

          <div class="sex-box text-center">
            <% if current_user.sex == "Monsieur" %>
              <span class="radio active">
            <% else %>
              <span class="radio">
            <% end %>
                <label class="radio-inline" for="user_sex_monsieur">
                  <input class="radio_buttons optional hidden" type="radio" value="Monsieur" name="user[sex]" id="user_sex_monsieur">
                   <%= image_tag "boy.png", width: "80px" %> <p>Homme</p>
                </label>
              </span>
            <% if current_user.sex == "Madame" %>
              <span class="radio active" style="margin-top: 6px">
            <% else %>
              <span class="radio" style="margin-top: 6px">
            <% end %>
                <label class="radio-inline" for="user_sex_madame">
                  <input class="radio_buttons optional hidden" type="radio" value="Madame" name="user[sex]" id="user_sex_madame">
                  <%= image_tag "girl.png", width: "80px" %> <p>Femme</p>
                </label>
              </span>
          </div>

          <div class="row">
            <div class="col-xs-4 col-xs-offset-2">
              <h3><i class="fa fa-user user-icon" aria-hidden="true"></i> Prénom</h3>
              <%= f.input :first_name, label: false, placeholder: '', input_html: {class: "simple_form_field form-control"} %>
            </div>
            <div class="col-xs-4">
              <h3><i class="fa fa-user user-icon" aria-hidden="true"></i> Nom</h3>
              <%= f.input :last_name, label: false, placeholder: '', input_html: {class: "simple_form_field form-control"} %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <p><i class="fa fa-picture-o user-icon" aria-hidden="true"></i> Upload picture</p>
              <%= f.input :photo, as: :attachinary, label: false %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <a class="next" data-target="#infos_contact">
                <div class="btn second-btn">Suivant</div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="tab-content tab-infos_perso hidden" id="infos_contact">
        <!-- <div class="col-xs-12"> -->
         <h2 class="text-center">Vos coordonnées</h2>
        
        <div class="container-fluid">     
          <div class="row">
            <div class="col-xs-4 col-xs-offset-2">
              <h3><i class="fa fa-phone user-icon" aria-hidden="true"></i> Telephone</h3>
              <%= f.input :phone, label: false, placeholder: '06 XX XX XX XX', input_html: {class: "simple_form_field"} %>
             </div>
             <div class="col-xs-4">
              <h3><i class="fa fa-envelope user-icon" aria-hidden="true"></i> E-mail</h3>
              <%= f.input :email, label: false, placeholder: 'votre-email@gmail.com', input_html: {class: "simple_form_field"} %>
             </div>
           </div>

          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <h3><i class="fa fa-home user-icon" aria-hidden="true"></i> Adresse </h3>
              <%= f.input :address, label: false, placeholder: 'Adresse', input_html: {class: "simple_form_field"} %>
              <%= f.input :city, label: false, placeholder: 'Ville', input_html: {class: "simple_form_field"} %>
              <%= f.input :zipcode, label: false, placeholder: 'Code postal', input_html: {class: "simple_form_field"} %>
            </div>
          </div>


          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <a class="next" data-target="#infos_pro">
                <div class="btn second-btn">Suivant</div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- tab 2. infos pro -->
      <div class="tab-content tab-infos_pro hidden" id="infos_pro">

        <h2 class="text-center">Votre spécialité</h2>
        <div class="container-fluid">
          <div class="row">
           <div class="col-xs-8 col-xs-offset-2">
              <h3><i class="fa fa-table
               user-icon" aria-hidden="true"></i> Numéro RPPS</h3>
              <%= f.input :cardnumber, label: false, input_html: {class: "simple_form_field"} %>
            </div>
          </div>

          <div class="row">
           <div class="col-xs-8 col-xs-offset-2">
              <h3><i class="fa fa-magic user-icon" aria-hidden="true"></i> Spécialité</h3>
              <%= f.input :specialty, label: false, collection: User::SPECIALTY, input_html: {class: "simple_form_field"}, prompt: "Selectionnez votre spécialité" %>  
            </div>
          </div>

          <div class="row">
           <div class="col-xs-8 col-xs-offset-2">
              <h3><i class="fa fa-id-card-o user-icon" aria-hidden="true"></i> Carte professionnelle</h3>
              <%= f.input :photo_prof_doc, as: :attachinary, label: false %>  
            </div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <a class="next" data-target="#configurations">
                <div class="btn second-btn">Suivant</div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- tab 3. configuration -->
      <div class="tab-content tab-configurations hidden" id="configurations">

        <h2 class="text-center">Paramètres de tournées</h2>
        
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <h3 class="text-left"><i class="fa fa-home user-icon" aria-hidden="true"></i> Adresse d'exercice</h3>
              <%= f.input :fav_city, label: false, placeholder: "Ville", input_html: {class: "simple_form_field"} %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <h3><i class="fa fa-car user-icon" aria-hidden="true"></i> Distance d'éloignement (en km)</h3>
              <br>
              <%= f.input :radius, label: false, input_html: { class: "slider" } %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
               <h4 class="text-center"><strong>Consultations</strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4 col-xs-offset-2">
              <h3><i class="fa fa-calendar user-icon" aria-hidden="true"></i> Nombre minimum par jour</h3> 
              <%= f.input :min_nb_consult, placeholder: "Nombre recommandé: 7 - 10 ", label: false, input_html: {class: "simple_form_field"} %>
            </div>
            <div class="col-xs-4">
              <h3><i class="fa fa-clock-o user-icon" aria-hidden="true"></i> Durée moyenne (en min)</h3>
              <%= f.input :duration_consult, placeholder: "Moyenne du Dr Home: 15 min ", label: false, input_html: {class: "simple_form_field"} %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <%= f.button :submit, "Enregistrer", class: 'primary-btn', style: 'padding: 10px 10px; width: 100%; border-radius: 3px; background-color: #31639C; text-decoration: none; font-weight: lighter; border: none; color: white; transition: all 0.4s ease; margin-bottom: 45px' %>
            </div>
          </div>

        </div>
      </div>

    <% end %>
  </div>
</div>

  <!-- Fin tab.3 -->
<!-- </div> -->

<!-- **************************** -->
<!-- Javascript -->
<% content_for(:after_js) do %>
  <script>
    $(function(){

      var slider = $('.slider').slider({
        min: 0,
        max: 200,
        step: 5,
        tooltip: "show"
      })

      <% if current_user.radius %>
        slider.slider('setValue', <%= current_user.radius %>)
      <% else %>
        slider.slider('setValue', 50)
      <% end %>

      $(".tab").on("click", function(e){
        // Change active tab
        $(".tab").removeClass('active');
        $(this).addClass('active');
        // Hide all tab-content (use class="hidden")
        $(".tab-content").addClass('hidden');
        // Show target tab-content (use class="hidden")
        $($(this).data('target')).removeClass('hidden');
      });
      $(".next").on("click", function(e){
        // Change active tab
        $(".active").removeClass("active");
        $(".tab[data-target='" + $(this).data('target') + "']").addClass('active');
        $(".tab-content").addClass('hidden');
        $($(this).data('target')).removeClass('hidden');
      });

      $(".radio").click(function(){
        $(".radio").removeClass('active');
        $(this).addClass('active');
      });

      // $('.slider').slider();
    });
  </script>
<% end %>





