
<!-- Tabs -->

<div class="profile">
  <div class="profile-sidebar">
    <h1 class=text-center>
      <% if current_user.photo.nil? %>
        <% if current_user.sex == "Madame" %>
          <%= image_tag "girl.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% elsif current_user.sex == "Monsieur" %>
          <%= image_tag "boy.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% end %>
      <% else %>
        <%= cl_image_tag current_user.photo.path, width: 80, height: 80, crop: :thumb, gravity: :face, class: "dropdown-toggle img-circle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
      <% end %>
      <div><%= current_user.first_name %> <%= current_user.last_name %></div>
    </h1>
    <a class="tab active" data-target="#infos_perso" id="first">
      <h3><span>1</span> <div>Infos basiques</div></h3>
    </a>
    <a class="tab" data-target="#infos_contact" id="next">
      <h3><span>2</span> <div>Coordonnées</div></h3>
    </a>
    <a class="tab" data-target="#infos_pro" id="next">
      <h3><span>3</span> <div>Infos pro</div></h3>
    </a>
    <a class="tab" data-target="#configurations" id="third">
      <h3><span>4</span> <div>Tournées</div></h3>
    </a>
  </div>

  <!-- end tabs -->
  <div class="profile-form">
    <!-- tab 1. infos perso -->
    <%= simple_form_for(@user) do |f| %>
      <div class="tab-content tab-infos_perso" id="infos_perso">
        <!-- <div class="col-xs-12"> -->
        <h2 class="text-center">Infos Basiques</h2>
        <%= f.error_notification %>

        <div class="container-fluid">

          <div class="sex-box">
            <span class="radio">
              <label class="radio-inline text-center" for="user_sex_monsieur">
                <input class="radio_buttons optional " type="radio" value="Monsieur" name="user[sex]" id="user_sex_monsieur">
                 <%= image_tag "boy.png", width: "80px" %> <p>Homme</p>
              </label>
            </span>
            <span class="radio active text-center" style="margin: 0;">
              <label class="radio-inline" for="user_sex_madame">
                <input class="radio_buttons optional " type="radio" value="Madame" name="user[sex]" id="user_sex_madame">
                <%= image_tag "girl.png", width: "80px" %> <p>Femme</p>
              </label>
            </span>
          </div>


          <div class="row">
            <div class="col-xs-4 col-xs-offset-2">
              <%= f.input :first_name, label: false, placeholder: 'Boris', input_html: {class: "simple_form_field form-control"} %>
            </div>
            <div class="col-xs-4">
              <%= f.input :last_name, label: false, placeholder: 'Paillard', input_html: {class: "simple_form_field form-control"} %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <p>Upload picture <i class="fa fa-picture-o user-icon" aria-hidden="true"></i></p>
              <%= f.input :photo, as: :attachinary, label: false %>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-8 col-xs-offset-2">
              <a class="next" data-target="#infos_contact">
                <div class="btn second-btn">Suivant</div>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="tab-content tab-infos_perso hidden" id="infos_contact">
        <!-- <div class="col-xs-12"> -->
         <h2 class="text-center">Vos coordonnées</h2>

         <div class="row">
           <div class="col-xs-4 col-xs-offset-2">
            <h3 class="text-center">Telephone <i class="fa fa-phone user-icon" aria-hidden="true"></i></h3>
            <%= f.input :phone, label: false, placeholder: '06 .. .. .. ..', input_html: {class: "simple_form_field"} %>
           </div>
           <div class="col-xs-4">
            <h3 class="text-center">E-mail <i class="fa fa-envelope user-icon" aria-hidden="true"></i></h3>
            <%= f.input :email, label: false, placeholder: 'lewagon@gmail.com', input_html: {class: "simple_form_field"} %>
           </div>
         </div>

        <div class="row">
         <div class="col-xs-8 col-xs-offset-2">
            <h3 class="text-center">Addresse <i class="fa fa-home user-icon" aria-hidden="true"></i></h3>
            <%= f.input :address, label: false, placeholder: '16 villa Gaudelet', input_html: {class: "simple_form_field"} %>
            <%= f.input :city, label: false, placeholder: 'Paris', input_html: {class: "simple_form_field"} %>
            <%= f.input :zipcode, label: false, placeholder: '75011', input_html: {class: "simple_form_field"} %>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <a class="next" data-target="#infos_pro">
              <div class="btn second-btn">Suivant</div>
            </a>
          </div>
        </div>
      </div>

      <!-- tab 2. infos pro -->
      <div class="tab-content tab-infos_pro hidden" id="infos_pro">

        <h2 class="text-center">Vos infos professionnelles</h2>

        <div class="row">
         <div class="col-xs-8 col-xs-offset-2">
            <h3 class="text-center">Numéro RPPS</h3>
            <%= f.input :cardnumber, label: false, input_html: {class: "simple_form_field"} %>
          </div>
        </div>

        <div class="row">
         <div class="col-xs-8 col-xs-offset-2">
            <h3 class="text-center">Spécialité</h3>
            <%= f.input :specialty, label: false, collection: User::SPECIALTY, input_html: {class: "simple_form_field"}, prompt: "Selectionnez votre spécialité" %>
          </div>
        </div>


        <div class="row">
         <div class="col-xs-8 col-xs-offset-2">
            <h3 class="text-center">Carte professionnelle</h3>
            <%= f.input :photo_prof_doc, as: :attachinary, label: false %>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <a class="next" data-target="#configurations">
              <div class="btn second-btn">Suivant</div>
            </a>
          </div>
        </div>


      </div>
      <!-- tab 3. configuration -->
      <div class="tab-content tab-configurations hidden" id="configurations">

        <h2 class="text-center">Gérez vos tournées</h2>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <h3 class="text-center">Ou travaillez-vous?</h3>
            <%= f.input :fav_address, label: false, placeholder: "Adresse", input_html: {class: "simple_form_field zero-margin"} %>
            <%= f.input :fav_city, label: false, placeholder: "Ville", input_html: {class: "simple_form_field"} %>
            <%= f.input :fav_zipcode, label: false, placeholder: "Code postal", input_html: {class: "simple_form_field"} %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <h3 class="text-center">Distance d'éloignement ?</h3>
            <br>
            <%= f.input :radius, label: false, input_html: { class: "slider" } %>

          </div>
        </div>


        <div class="row">
          <h3 class="text-center">Consultations</h3>
          <div class="col-xs-4 col-xs-offset-2">
            <h3 class="text-center">Nombre minimum</h3>
            <%= f.input :min_nb_consult, label: false, input_html: {class: "simple_form_field"} %>
          </div>
          <div class="col-xs-4">
            <h3 class="text-center">Durée moyenne</h3>
            <%= f.input :duration_consult, label: false, input_html: {class: "simple_form_field"} %>
          </div>
        </div>


        <div class="row">
          <div class="col-xs-8 col-xs-offset-2">
            <%= f.button :submit, "Enregistrer", class: 'primary-btn', style: 'padding: 10px 10px; border-radius: 2px; background-color: #31639C; text-decoration: none; font-weight: lighter; border: none; color: white; transition: all 0.4s ease; margin-bottom: 45px' %>
          </div>
        </div>

      </div>

    <% end %>
  </div>
</div>

  <!-- Fin tab.3 -->
<!-- </div> -->

<!-- **************************** -->
<!-- Javascript -->
<% content_for(:after_js) do %>
  <script>
    $(function(){

      var slider = $('.slider').slider({
        min: 0,
        max: 100,
        step: 5,
        tooltip: "show"
      })

      <% if current_user.radius %>
        slider.slider('setValue', <%= current_user.radius %>)
      <% else %>
        slider.slider('setValue', 50)
      <% end %>

      $(".tab").on("click", function(e){
        // Change active tab
        $(".tab").removeClass('active');
        $(this).addClass('active');
        // Hide all tab-content (use class="hidden")
        $(".tab-content").addClass('hidden');
        // Show target tab-content (use class="hidden")
        $($(this).data('target')).removeClass('hidden');
      });
      $(".next").on("click", function(e){
        // Change active tab
        $(".active").removeClass("active");
        $(".tab[data-target='" + $(this).data('target') + "']").addClass('active');
        $(".tab-content").addClass('hidden');
        $($(this).data('target')).removeClass('hidden');
      });

      $(".radio").click(function(){
        $(".radio").removeClass('active');
        $(this).addClass('active');
      });

      var styles = [{"featureType":"administrative","elementType":"all","stylers":[{"hue":"#0060ff"},{"lightness":-100},{"visibility":"off"},{"saturation":"-77"}]},{"featureType":"administrative","elementType":"labels.text","stylers":[{"saturation":"2"}]},{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"visibility":"on"},{"color":"#1a3464"}]},{"featureType":"administrative","elementType":"labels.text.stroke","stylers":[{"weight":"2.68"},{"visibility":"on"},{"color":"#ffffff"}]},{"featureType":"landscape","elementType":"geometry","stylers":[{"hue":"#0060ff"},{"saturation":"-70"},{"lightness":"0"},{"visibility":"on"}]},{"featureType":"landscape","elementType":"geometry.fill","stylers":[{"hue":"#0050ff"},{"saturation":"0"},{"lightness":"0"}]},{"featureType":"landscape","elementType":"labels","stylers":[{"hue":"#0060ff"},{"saturation":"-80"},{"lightness":"-90"},{"visibility":"off"}]},{"featureType":"poi","elementType":"all","stylers":[{"hue":"#0060ff"},{"saturation":"-80"},{"lightness":"-70"},{"visibility":"off"},{"gamma":"1"}]},{"featureType":"road","elementType":"geometry","stylers":[{"hue":"#0060ff"},{"saturation":"-85"},{"lightness":"60"},{"visibility":"on"}]},{"featureType":"road","elementType":"labels","stylers":[{"hue":"#0060ff"},{"saturation":"-70"},{"lightness":"50"},{"visibility":"off"}]},{"featureType":"road.local","elementType":"all","stylers":[{"hue":"#0060ff"},{"saturation":"0"},{"lightness":"-11"},{"visibility":"on"}]},{"featureType":"transit","elementType":"geometry","stylers":[{"visibility":"simplified"},{"hue":"#0060ff"},{"lightness":"0"},{"saturation":"0"}]},{"featureType":"transit","elementType":"labels","stylers":[{"hue":"#0060ff"},{"lightness":-100},{"visibility":"off"}]},{"featureType":"water","elementType":"geometry","stylers":[{"hue":"#0066ff"},{"saturation":"0"},{"lightness":100},{"visibility":"on"}]},{"featureType":"water","elementType":"labels","stylers":[{"hue":"#000000"},{"saturation":-100},{"lightness":-100},{"visibility":"off"}]}]
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' }, provider: { styles: styles } }, function() {
        // markers = handler.addMarkers(<%#= raw @hash.to_json %>);
        // handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        // if (markers.length == 0) {
          handler.getMap().setZoom(14);
        // } else if (markers.length == 1) {
        //   handler.getMap().setZoom(14);
        // }
      });
      // var slider = new Slider('#ex1', {
      //   formatter: function(value) {
      //     return 'Current value: ' + value;
      //   }
      // });
      // var rangeValue = $("#user_radius").val();
      // $("#range-value").text(rangeValue);
      // $("#user_radius").on("change", function() {
      //   $("#range-value").replaceWith($(this).val());
      // });

      $('.slider').slider();
    });
  </script>
<% end %>





