
<!-- Tabs -->
<div class="profile-header-wrapper">
  <div class="container profile-header-container">
    <div class="profile-header-infos">
      <h1>Bienvenue <%= '#{@user.first_name }' unless @user.first_name.nil? %>!</h1>
      <h2><%= Time.now.strftime('%e/%l/%Y') %></h2>
    </div>
    <div class="tabs">
      <a class="tab active" data-target="#parameters">
        <h3>Paramètres</h3>
      </a>
      <a class="tab" data-target="#next">
        <h3>Prochaine tournée</h3>
      </a>
      <a class="tab" data-target="#all">
        <h3>Toutes les tournées</h3>
      </a>
      <a class="tab" data-target="#month">
        <h3>Ce mois-ci</h3>
      </a>
    </div>
  </div>
</div>
<!-- end tabs -->

<div class="container text-center">

  <!-- Paramètres -->
  <div class="tab-content tab-parameters" id="parameters">
    <div class="left">
      <div class="title"><h3>Qu'avez-vous en tête ?</h3></div>
      <%= simple_form_for(@user, class: 'form-inline', url: user_path(current_user), html: {method: :patch}) do |f| %>
      <%= f.input :fav_distance, label: 'Je veux travailler à ', label_html: {style: 'font-weight: lighter'},input_html: {class: 'input-field' },wrapper_html: { class: 'form-inline' }, collection: [10, 20, 50, 100] %>
      <%= f.input :fav_city, label: 'de ', label_html: {style: 'font-weight: lighter'},input_html: {class: 'input-field' },wrapper_html: { class: 'form-inline' } %>
      <%= f.submit "Enregistrer mes changements", class: "btn btn-primary" %>
      <% end %>
    </div>
    <div class="map">

    </div>
  </div>
  <!-- end tab 1 -->

  <!-- tab 2 -->
  <div class="tab-content hidden" id="next">
    <p>Here are my projects.</p>
  </div>
  <!-- end tab 2 -->

  <!-- tab 3 -->
  <div class="tab-content hidden" id="all">
    <p>Contact me if you want.</p>
  </div>
  <!-- end tab 3 -->

  <!-- tab 4 -->
  <div class="tab-content hidden" id="month">
    <p>Contact me if you want.</p>
  </div>
  <!-- end tab 4 -->

</div>

<!-- **************************** -->
<!-- Javascript -->
<% content_for(:after_js) do %>
  <script>
    $(function(){

    $(".tab").on("click", function(e){
      // Change active tab
      $(".tab").removeClass('active');
      $(this).addClass('active');
      // Hide all tab-content (use class="hidden")
      $(".tab-content").addClass('hidden');
      // Show target tab-content (use class="hidden")
      $($(this).data('target')).removeClass('hidden');
    });

  });
  </script>
<% end %>

