<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner text-center" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 50%), url('<%= image_path 'background.png' %>')">
  <div class="banner-content">
    <h2>Bienvenue sur Dr Home</h2>
    <h3>
     Le premier site de medecins
     <strong class="typed-text hidden-xs"></strong>
   </h3>
    <% if current_user %>
      <%= link_to "Votre prochaine tournée", dashboard_path, class: "how-btn"%>
    <% else %>
      <%= link_to "Rejoignez-nous", new_user_registration_path, class: "how-btn"%>
    <% end %>
  </div>
</div>
<div class="container text-center">
  <div class="row recap">
    <div class="col-md-3">
      <div class="card-recap">
        <%= image_tag "drhome-womanpic.png", class: "icon" %>
        <p>Plus de 500 visites organisées par nos soins tous les jours </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-recap">
        <%= image_tag "calendar.png", class: "icon" %>
        <p>Des visites compatibles avec votre agenda</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-recap">
        <%= image_tag "mapselector.png", class: "icon" %>
        <p>Les propositions de visites qui s'adapte à votre localisation</p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card-recap">
        <%= image_tag "mapsphone.png", class: "mapicon" %>
        <p>Nous optimisons vos tournées, vous augmentez vos revenus </p>
     </div>
    </div>
  </div>
</div>
<div class="row marbled colored">
  <div class="col-md-6 presentation-picture">
    <%= image_tag "visiting_doctor.jpg", class: "image" %>
  </div>
  <div class="col-md-6">
    <div class="texte">
      <h3>Nous vous trouvons des patients là où vous desirez travailler. Pas besoin de secretariat ou de cabinet médical.</h3>
    </div>
  </div>
</div>
 <div class="row marbled colored">
    <div class="col-md-6">
      <div class="texte">
        <h3>Nous vous proposons la tournée de patient la plus optimisée en fonction de vos critères de disponibilité et de localisation géographique.</h3>
      </div>
    </div>
    <div class="col-md-6 presentation-picture">
      <%= image_tag "road.jpg", class: "image" %>
    </div>
</div>
<div class="row marbled colored">
  <div class="col-md-6 presentation-picture">
    <%= image_tag "girlwithcoffee.jpg", class: "image" %>
  </div>
  <div class="col-md-6">
    <div class="texte">
      <h3>Exercez en toute flexibilité et indépendence sans coûts fixes.</h3>
      </div>
    </div>
</div>

