<%= content_for(:navbar_class, "navbar-home") %>
<div class="banner text-center" style="background-image: linear-gradient(-225deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.6) 50%), url('<%= image_path 'background.png' %>')">
  <div class="banner-content">
    <h2 class="hidden-xs">Bienvenue sur Dr Home</h2>
    <h2 class="hidden-sm hidden-md hidden-lg">Bienvenue </br>sur Dr Home</h2>
    <h3>
      Le premier site de médecins
      <strong class="typed-text hidden-xs"></strong>
      <strong class="hidden-sm hidden-md hidden-lg">indépendants</strong>
    </h3>
    <% if current_user %>
      <%= link_to "Votre prochaine tournée", dashboard_path, class: "how-btn"%>
    <% else %>
      <%= link_to "Rejoignez-nous", new_user_registration_path, class: "how-btn"%>
    <% end %>
  </div>
</div>

<!-- START OF features section  -->
<div class="container text-center">
  <div class="row recap">
    <div class="col-xs-12 col-sm-4">
      <div class="card-recap">
        <%= image_tag "mapselector.png", class: "icon" %>
        <p>Des patients en fonction de votre localisation</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-recap">
        <%= image_tag "calendar.png", class: "icon" %>
        <p>Des visites compatibles avec votre agenda</p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card-recap">
        <%= image_tag "mapsphone.png", class: "mapicon" %>
        <p>Des revenus minimum garantis</p>
      </div>
    </div>
  </div>
</div>
<!-- END OF features section  -->

<!-- START OF PIX AND Taglines section  -->
<div class="row marbled colored text-center">
  <div class="col-xs-12 col-md-6 presentation-picture">
    <%= image_tag "visiting_doctor.jpg", class: "image" %>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="texte">
      <h3>Nous vous trouvons des patients en fonction de vos disponibilités.</br> Pas besoin de secretariat ou de cabinet médical.</h3>
    </div>
  </div>
</div>
<div class="row marbled colored">
  <div class="col-xs-12 col-md-6 hidden-xs hidden-sm">
    <div class="texte">
      <h3>Nous vous proposons des tournées optimisées en fonction de votre localisation géographique.</h3>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 presentation-picture">
    <%= image_tag "road.jpg", class: "image" %>
  </div>

  <div class="col-xs-12 col-md-6 hidden-md hidden-lg">
    <div class="texte">
      <h3>Nous vous proposons des tournées optimisées en fonction de votre localisation géographique.</h3>
    </div>
  </div>

</div>
<div class="row marbled colored">
  <div class="col-xs-12 col-md-6 presentation-picture">
    <%= image_tag "girlwithcoffee.jpg", class: "image" %>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="texte">
      <h3>Retrouvez flexibilité et liberté, et exercez votre métier avec un outil simple et performant.</h3>
    </div>
  </div>
</div>
<!-- END OF PIX AND Taglines section  -->

<!-- Begin MailChimp Signup Form -->
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
    <h2>En savoir plus sur Dr Home</h2>
    <p>Inscrivez vous à notre Newsletter</p>

        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
          /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
             We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="//drhome.us14.list-manage.com/subscribe/post?u=ab814eb6c99c031485c360951&amp;id=d009cd532b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">

          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="adresse email" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ab814eb6c99c031485c360951_d009cd532b" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="S'inscrire" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>

      </div>
    </div>
  </div>
</div>
<!--End mc_embed_signup-->
