<div class="wrapper-olga intro">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-7">
				<h1>Parcourez et découvrez la France, et luttez contre les déserts médicaux.</h1>
				<p>Envie de changer d'air?</p>
				<div class="space-large"></div>
				<div>
					<%= link_to "Rejoignez Dr. Home", edit_user_path(current_user), class: "how-btn" %>
				</div>
			</div>
			<div class="col-xs-12 col-sm-5">
				<%= image_tag "bike.jpg", class: "picture" %>
			</div>
		</div>
	</div>
</div>




<div class="wrapper-olga steps">
	<div class="container">
		<p class="highlight">Pour vous inscrire, c'est facile:</p>
		<div class="container-steps">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="step-circle"><span>1</span></div>
					<span> Inscription</span>
					<p>Créez-vous un compte sur Dr Home </br>et renseignez votre profil</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="step-circle-to-come"><span>2</span></div>
					<span>Validation</span>
					<p>Notre équipe valide soigneusement l'inscription de tout nouveau membre</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="step-circle-to-come"><span>3</span></div>
					<span>Configuration</span>
					<p>Renseignez vos disponibilités et votre localisation géographique </br>(modifiables à tout moment)</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3">
					<div class="step-circle-to-come"><span>4</span></div>
					<span>Vous êtes prêt !</span>
					<p>Tous les soirs, recevez une proposition de tournée médicale personalisée directement sur votre espacee</p>
				</div>
			</div>
		</div>
	</div>
</div>



<div class="wrapper-olga benefits">
	<div class="container">
	<h1>Newsletter Dr Home</h1>
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offset-1>
			<%= simple_form_for(current_user) do |f| %>
		        <div class="form-inputs">
		          <%= f.input :email, required: false, autofocus: true, placeholder: 'Adresse email', label: "Votre email" %>
		        </div>

		        <div class="form-actions">
		          <%= f.button :submit, "S'incrire", class: 'second-btn' %>
		        </div>
		    <% end %>
		</div>
	</div>
</div>






